body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: #abc2e8;
    background-color: #393e46;
    overflow-x: hidden;
    /* overflow-y: auto; */
  }


h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 10px 0 0;
    color: #e0dede;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    padding: 10px 30px 10px 0;
    /* float: left; */
}

section {
    margin: 0;
}

/* classes */
.container-fluid {
    padding: 0;
}

.intro {
    color: #aaa;
    margin: auto 100px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.convertion {
    text-align: right;
}

.card {
    margin-bottom: 1em;
    background-color: #f7f7f7;
}

.convert-btn, .copy-btn, .add-btn, .delete-btn {
    width: 8em;
    margin: 1em 0 1em 1em;
    float: right;
}

.delete-btn {
    /* float: left; */
    margin: auto auto auto 1.6em;
}

.instruction {
    text-align: left;
    font-size: 0.8rem;
    color: #999;
}

.table {
    border-radius: 2%;
    text-align: right;
    background-color: #f7f7f7;
}

.add-btn {
    width: auto;
    display: block;
    margin-top: 0;
    float: right;
}

/* ids */
#var-heading {
    color: #3f72af;
    margin-left: 60px;
}

#text-heading {
    color: #438a5e;
    margin: auto 60px;
}

#string-heading {
    color: #438a5e;
}

#main, #footer {
    background-color: #eeeeee;
    padding: 30px;
}
#footer{
    padding: 60px;
}

/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* override bootstrap */
.modal-dialog-full{
    max-width: 100%;
}
/* ///////////////////////////////////////////////////// */
/* new */
.profile-image {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 8px solid #999;
    border-radius: 50%;
    /* background: #512DA8; */
    background: #999;
    font-size: 35px;
    color: #fff;
    margin: auto; 

    /* text-align: center; */
}
.profile-status {
    position: relative;
    display:flow-root;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #999;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin: auto; 
}
.table-image {
    display:flow-root;
    width: 80px;
    height: 80px;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin: auto; 
}
.table-image {
    display:flow-root;
    width: 80px;
    height: 80px;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin: auto; 
}

.secton-title{
    float: left;
    text-align: left;
    font-weight: 700;
    font-size: 1.5em;
}
.content {
    background-color: #eeeeee;
    padding: 30px;
}

#edit-btn{
    float: right;
}
#delete-btn{
    float: left;
}
.game-table{
    /* border: 1px solid #393e46; */
    line-height: 0;
}
#middle-name{
    position: relative;
    color:white;
    left:0;
    font-size: 0.8em;
    bottom:0.72em;
    overflow: hidden;
}
.player{
    /* border: 1px solid #393e46; */
    line-height: 0;
    /* border-radius: 100%; */

}
.player-name{
    margin-bottom: 15px;
    font-size: 0.8rem;
    display: flex;
    float: left;

}
.player-score{
    margin-bottom: 15px;
    font-size: 1rem;
    display: flex;
    width: 100%;
    float: left;
}

.fan-btn{
    /* max-width: 100px; */
}

.record-check{
    width: 2em;
    height: 2em;
    float: left;
}
.record-check-name{
    margin-top: 0.5em;
    float: left;
}
.target-zhuang-check{
    display: flex;
}

.player-choose {
    height: 80px;
    padding: 0px;
}


.swipe-container {padding:0;overflow:hidden;}
.swipe-btn {width:15%;height:100%;background:#ddd;position:absolute;top:0;right:0;}
.swipe-left {right:15%;background:#ccc;}

.swap-item {position:relative;width:100%;background:white;transition:all .5s ease-in-out;z-index:2}
.swap-item div {padding:12px 20px;}
.swap-open {margin-left:-30%;margin-right:30%;}